<header>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
  </style>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a
      class="navbar-brand" 
      style="font-family: 'Raleway', sans-serif;
        font-size: 24px;
        line-height: 0px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;"
      href="/"
    >
      TinyApp
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
    </div>
    <div class="navbar-nav">
      <% if (typeof user !== 'undefined') {%><span class="nav-item nav-link active">Welcome, <b><%= user.email %></b>!&emsp;</span>
      <form class="form-inline" action="/logout" method="POST">
        <div class="input-group">
          <button type="submit" class="btn btn-outline-secondary btn-sm"><span class="material-symbols-outlined" style="vertical-align: bottom">logout</span> Logout</button>
        </div>
      </form>
      <% } else { %>
        <div class="navbar-nav">
          <a href="/login" class="btn btn-success btn-sm" style="margin-right:10px;"><span class="material-symbols-outlined" style="vertical-align: bottom">login</span> Login</a>
          <a href="/register" class="btn btn-primary btn-sm"><span class="material-symbols-outlined" style="vertical-align: bottom">app_registration</span> Register</a>
        </div>
      <% } %>
    </div>
  </nav>
</header>