<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/_head.ejs') %>
    <title>
      <%= appName %> - Login
    </title>
</head>

<body>

  <%- include('partials/_header.ejs') %>

    <main style="margin: 1em;">

      <div class="card" style="max-width: 36rem;">
        <div class="card-header">
          <h4>Login</h4>
        </div>
        <div class="card-body form-group">
          <form action="/login" method="POST">

            <div class="form-group input-group mb-3">
              <div class="input-group-prepend"
                style="-webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;">
                <label class="input-group-text" for="email" style="max-width: 8rem;" data-toggle="tooltip"
                  data-placement="top" title="Email address"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"
                    fill="currentColor" width="16" height="16">
                    <path fill-rule="evenodd"
                      d="M1.75 2A1.75 1.75 0 000 3.75v.736a.75.75 0 000 .027v7.737C0 13.216.784 14 1.75 14h12.5A1.75 1.75 0 0016 12.25v-8.5A1.75 1.75 0 0014.25 2H1.75zM14.5 4.07v-.32a.25.25 0 00-.25-.25H1.75a.25.25 0 00-.25.25v.32L8 7.88l6.5-3.81zm-13 1.74v6.441c0 .138.112.25.25.25h12.5a.25.25 0 00.25-.25V5.809L8.38 9.397a.75.75 0 01-.76 0L1.5 5.809z">
                    </path>
                  </svg><span class="d-none d-md-inline-block text-left"
                    style="min-width: 5.25rem;">&ensp;Email</span></label>
              </div>
              <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp"
                placeholder="Enter your email address" required>
            </div>

            <div class="form-row">
              <div class="col">

                <div class="form-group input-group mb-3">
                  <div class="input-group-prepend"
                    style="-webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;">
                    <label class="input-group-text" for="password" style="max-width: 8rem;" data-toggle="tooltip"
                      data-placement="top" title="Password"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"
                        fill="currentColor" width="16" height="16">
                        <path fill-rule="evenodd"
                          d="M6.5 5.5a4 4 0 112.731 3.795.75.75 0 00-.768.18L7.44 10.5H6.25a.75.75 0 00-.75.75v1.19l-.06.06H4.25a.75.75 0 00-.75.75v1.19l-.06.06H1.75a.25.25 0 01-.25-.25v-1.69l5.024-5.023a.75.75 0 00.181-.768A3.995 3.995 0 016.5 5.5zm4-5.5a5.5 5.5 0 00-5.348 6.788L.22 11.72a.75.75 0 00-.22.53v2C0 15.216.784 16 1.75 16h2a.75.75 0 00.53-.22l.5-.5a.75.75 0 00.22-.53V14h.75a.75.75 0 00.53-.22l.5-.5a.75.75 0 00.22-.53V12h.75a.75.75 0 00.53-.22l.932-.932A5.5 5.5 0 1010.5 0zm.5 6a1 1 0 100-2 1 1 0 000 2z">
                        </path>
                      </svg><span class="d-none d-md-inline-block text-left"
                        style="min-width: 5.25rem;">&ensp;Password</span></label>
                  </div>
                  <input type="password" name="password" class="form-control" id="password" placeholder="Password"
                    required>
                </div>
              </div>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>

          </form>
        </div>
      </div>
    </main>

    <%- include('partials/_footer.ejs') %>

</body>

</html>